--
-- PostgreSQL database dump
--

\restrict PDbB99Zu6k6LSN9yJAiqqwF2EbKXuvLtmE3rMa6NHiAc6MwxuH2GgoiegrxJ6B1

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: Role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Role" AS ENUM (
    'admin',
    'trainer',
    'participant'
);


ALTER TYPE public."Role" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Alumni; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Alumni" (
    id text NOT NULL,
    name text NOT NULL,
    measure text,
    outcome text DEFAULT 'unknown'::text NOT NULL,
    employer text,
    "followUp6" boolean DEFAULT false NOT NULL,
    consent boolean DEFAULT false NOT NULL,
    "graduatedAt" text,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    email text,
    employer6 text,
    "followUp0At" text,
    "followUp6At" text,
    status0 text,
    status6 text
);


ALTER TABLE public."Alumni" OWNER TO postgres;

--
-- Name: Attendance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Attendance" (
    id text NOT NULL,
    "participantId" text NOT NULL,
    "sessionId" text NOT NULL,
    present boolean DEFAULT false NOT NULL,
    status text DEFAULT 'absent'::text NOT NULL,
    "capturedInApp" boolean DEFAULT true NOT NULL,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "graduationDate" timestamp(3) without time zone,
    stage text DEFAULT 'onboarding'::text
);


ALTER TABLE public."Attendance" OWNER TO postgres;

--
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AuditLog" (
    id text NOT NULL,
    action text NOT NULL,
    entity text,
    "entityId" text,
    "userId" text,
    data jsonb,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AuditLog" OWNER TO postgres;

--
-- Name: AuditRecord; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AuditRecord" (
    id text NOT NULL,
    readiness integer,
    sample jsonb,
    note text,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AuditRecord" OWNER TO postgres;

--
-- Name: Automation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Automation" (
    id text NOT NULL,
    key text NOT NULL,
    enabled boolean DEFAULT true NOT NULL,
    config jsonb,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Automation" OWNER TO postgres;

--
-- Name: Campaign; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Campaign" (
    id text NOT NULL,
    name text NOT NULL,
    audience text,
    channel text,
    reach integer DEFAULT 0 NOT NULL,
    "openRate" text,
    status text DEFAULT 'draftC'::text NOT NULL,
    "sentAt" text,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    opens integer DEFAULT 0 NOT NULL,
    "trackId" text,
    "graduationDate" timestamp(3) without time zone,
    stage text DEFAULT 'onboarding'::text
);


ALTER TABLE public."Campaign" OWNER TO postgres;

--
-- Name: Capa; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Capa" (
    id text NOT NULL,
    date text,
    source text,
    category text,
    description text NOT NULL,
    owner text,
    "dueDate" text,
    status text DEFAULT 'open'::text NOT NULL,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "graduationDate" timestamp(3) without time zone,
    stage text DEFAULT 'onboarding'::text
);


ALTER TABLE public."Capa" OWNER TO postgres;

--
-- Name: Category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Category" (
    id text NOT NULL,
    "groupId" text NOT NULL,
    name text NOT NULL,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Category" OWNER TO postgres;

--
-- Name: Channel; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Channel" (
    id text NOT NULL,
    name text NOT NULL,
    type text NOT NULL,
    connected boolean DEFAULT false NOT NULL,
    reach integer DEFAULT 0 NOT NULL,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Channel" OWNER TO postgres;

--
-- Name: Course; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Course" (
    id text NOT NULL,
    name text NOT NULL,
    "measureId" text,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "meetingUrl" text
);


ALTER TABLE public."Course" OWNER TO postgres;

--
-- Name: CourseEvaluation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CourseEvaluation" (
    id text NOT NULL,
    "courseId" text,
    "measureId" text,
    period text,
    "overallRating" integer,
    "contentRating" integer,
    "trainerRating" integer,
    "participantCount" integer DEFAULT 0 NOT NULL,
    strengths text,
    improvements text,
    notes text,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."CourseEvaluation" OWNER TO postgres;

--
-- Name: CourseRecord; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CourseRecord" (
    id text NOT NULL,
    "courseId" text NOT NULL,
    type text DEFAULT 'TEACHING_LOG'::text NOT NULL,
    "recordDate" text,
    topic text,
    trainer text,
    hours integer,
    notes text,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."CourseRecord" OWNER TO postgres;

--
-- Name: DiaryEntry; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."DiaryEntry" (
    id text NOT NULL,
    "participantId" text NOT NULL,
    "entryDate" text,
    company text,
    "position" text,
    method text,
    status text DEFAULT 'applied'::text NOT NULL,
    notes text,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "graduationDate" timestamp(3) without time zone,
    stage text DEFAULT 'onboarding'::text
);


ALTER TABLE public."DiaryEntry" OWNER TO postgres;

--
-- Name: Document; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Document" (
    id text NOT NULL,
    type text NOT NULL,
    responsible text,
    status text DEFAULT 'doc_missing'::text NOT NULL,
    "fileRef" text,
    "participantId" text,
    "measureId" text,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "graduationDate" timestamp(3) without time zone,
    stage text DEFAULT 'onboarding'::text
);


ALTER TABLE public."Document" OWNER TO postgres;

--
-- Name: EquipmentLoan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."EquipmentLoan" (
    id text NOT NULL,
    "participantId" text NOT NULL,
    "deviceName" text NOT NULL,
    "serialNumber" text,
    brand text,
    condition text DEFAULT 'good'::text,
    "loanDate" text,
    "returnDate" text,
    "returnedDate" text,
    returned boolean DEFAULT false NOT NULL,
    notes text,
    "signedByParticipant" boolean DEFAULT false NOT NULL,
    "fileRef" text,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."EquipmentLoan" OWNER TO postgres;

--
-- Name: Evaluation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Evaluation" (
    id text NOT NULL,
    scope text DEFAULT 'participant'::text NOT NULL,
    "participantId" text,
    "courseId" text,
    title text,
    rating integer,
    strengths text,
    weaknesses text,
    recommendation text,
    "evalDate" text,
    author text,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Evaluation" OWNER TO postgres;

--
-- Name: ExternalAudit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ExternalAudit" (
    id text NOT NULL,
    date text,
    body text,
    type text,
    findings text,
    status text DEFAULT 'open'::text NOT NULL,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "graduationDate" timestamp(3) without time zone,
    stage text DEFAULT 'onboarding'::text
);


ALTER TABLE public."ExternalAudit" OWNER TO postgres;

--
-- Name: LessonProgress; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."LessonProgress" (
    id text NOT NULL,
    "participantId" text NOT NULL,
    "sessionId" text NOT NULL,
    "courseId" text,
    completed boolean DEFAULT true NOT NULL,
    "completedAt" text,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."LessonProgress" OWNER TO postgres;

--
-- Name: Measure; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Measure" (
    id text NOT NULL,
    name text NOT NULL,
    number text,
    azav text,
    status text DEFAULT 'planned'::text NOT NULL,
    capacity integer DEFAULT 0 NOT NULL,
    enrolled integer DEFAULT 0 NOT NULL,
    "ueHours" integer DEFAULT 0 NOT NULL,
    mode text,
    category text,
    "startDate" text,
    "endDate" text,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "graduationDate" timestamp(3) without time zone,
    stage text DEFAULT 'onboarding'::text
);


ALTER TABLE public."Measure" OWNER TO postgres;

--
-- Name: MeasureChange; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MeasureChange" (
    id text NOT NULL,
    "measureId" text NOT NULL,
    date text,
    reason text NOT NULL,
    responsible text,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."MeasureChange" OWNER TO postgres;

--
-- Name: MeasureModule; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MeasureModule" (
    id text NOT NULL,
    "measureId" text NOT NULL,
    title text NOT NULL,
    "ueHours" integer DEFAULT 0 NOT NULL,
    status text DEFAULT 'planned'::text NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "graduationDate" timestamp(3) without time zone,
    stage text DEFAULT 'onboarding'::text
);


ALTER TABLE public."MeasureModule" OWNER TO postgres;

--
-- Name: Participant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Participant" (
    id text NOT NULL,
    name text NOT NULL,
    "measureId" text,
    status text DEFAULT 'enrolled'::text NOT NULL,
    "fileCompleteness" integer DEFAULT 0 NOT NULL,
    contact text,
    "fundingType" text,
    voucher text,
    agency text,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    phone text,
    "voucherValidUntil" text,
    "graduationDate" timestamp(3) without time zone,
    stage text DEFAULT 'onboarding'::text
);


ALTER TABLE public."Participant" OWNER TO postgres;

--
-- Name: ParticipantRecord; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ParticipantRecord" (
    id text NOT NULL,
    "participantId" text NOT NULL,
    type text NOT NULL,
    title text,
    content text,
    "recordDate" text,
    author text,
    signed boolean DEFAULT false NOT NULL,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ParticipantRecord" OWNER TO postgres;

--
-- Name: PlacementFollowUp; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PlacementFollowUp" (
    id text NOT NULL,
    "participantId" text NOT NULL,
    month integer DEFAULT 0 NOT NULL,
    outcome text,
    employer text,
    "jobTitle" text,
    "contractType" text,
    "followUpDate" text,
    notes text,
    "consentGiven" boolean DEFAULT false NOT NULL,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."PlacementFollowUp" OWNER TO postgres;

--
-- Name: QmDoc; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."QmDoc" (
    id text NOT NULL,
    type text DEFAULT 'process'::text NOT NULL,
    title text NOT NULL,
    content text,
    version text,
    author text,
    owner text,
    status text DEFAULT 'doc_ready'::text NOT NULL,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "graduationDate" timestamp(3) without time zone,
    stage text DEFAULT 'onboarding'::text
);


ALTER TABLE public."QmDoc" OWNER TO postgres;

--
-- Name: Question; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Question" (
    id text NOT NULL,
    "quizId" text NOT NULL,
    question text NOT NULL,
    "optionA" text NOT NULL,
    "optionB" text NOT NULL,
    "optionC" text NOT NULL,
    "optionD" text,
    "correctAnswer" text NOT NULL,
    points integer DEFAULT 1 NOT NULL,
    topic text,
    "tenantId" text NOT NULL
);


ALTER TABLE public."Question" OWNER TO postgres;

--
-- Name: Quiz; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Quiz" (
    id text NOT NULL,
    title text NOT NULL,
    description text,
    "measureId" text,
    "passMark" integer DEFAULT 50 NOT NULL,
    "timeLimit" integer,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Quiz" OWNER TO postgres;

--
-- Name: QuizAttempt; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."QuizAttempt" (
    id text NOT NULL,
    "quizId" text NOT NULL,
    "participantId" text NOT NULL,
    score integer NOT NULL,
    total integer NOT NULL,
    passed boolean NOT NULL,
    answers jsonb NOT NULL,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."QuizAttempt" OWNER TO postgres;

--
-- Name: Session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Session" (
    id text NOT NULL,
    "courseId" text NOT NULL,
    "order" integer DEFAULT 0 NOT NULL,
    title text NOT NULL,
    "time" text,
    room text,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "videoRef" text,
    "meetingUrl" text
);


ALTER TABLE public."Session" OWNER TO postgres;

--
-- Name: SessionVideo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SessionVideo" (
    id text NOT NULL,
    "sessionId" text NOT NULL,
    title text,
    "videoRef" text NOT NULL,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."SessionVideo" OWNER TO postgres;

--
-- Name: SupportMessage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SupportMessage" (
    id text NOT NULL,
    "ticketId" text NOT NULL,
    "senderId" text NOT NULL,
    "senderName" text NOT NULL,
    "senderRole" text NOT NULL,
    content text NOT NULL,
    "fileRef" text,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."SupportMessage" OWNER TO postgres;

--
-- Name: SupportTicket; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SupportTicket" (
    id text NOT NULL,
    subject text NOT NULL,
    type text NOT NULL,
    status text DEFAULT 'open'::text NOT NULL,
    "userId" text NOT NULL,
    "userRole" text NOT NULL,
    "userName" text NOT NULL,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."SupportTicket" OWNER TO postgres;

--
-- Name: Survey; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Survey" (
    id text NOT NULL,
    "participantId" text NOT NULL,
    type text DEFAULT 'satisfaction'::text NOT NULL,
    title text,
    rating integer,
    "maxRating" integer DEFAULT 5,
    score text,
    notes text,
    "surveyDate" text,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Survey" OWNER TO postgres;

--
-- Name: Tenant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Tenant" (
    id text NOT NULL,
    name text NOT NULL,
    logo text,
    accent text DEFAULT 'iris'::text,
    "azavValidUntil" text,
    certifier text,
    "nextAudit" text,
    "enabledModules" text[] DEFAULT ARRAY[]::text[],
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Tenant" OWNER TO postgres;

--
-- Name: Trainer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Trainer" (
    id text NOT NULL,
    name text NOT NULL,
    "qualificationArea" text,
    "qualificationStatus" text DEFAULT 'incomplete'::text NOT NULL,
    expiry text,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    email text,
    "graduationDate" timestamp(3) without time zone,
    stage text DEFAULT 'onboarding'::text,
    "cvRef" text
);


ALTER TABLE public."Trainer" OWNER TO postgres;

--
-- Name: TrainerQualification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."TrainerQualification" (
    id text NOT NULL,
    "trainerName" text,
    "userId" text,
    title text NOT NULL,
    type text DEFAULT 'qualification'::text NOT NULL,
    "validUntil" text,
    "approvedFor" text,
    "fileRef" text,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."TrainerQualification" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    name text,
    role public."Role" DEFAULT 'participant'::public."Role" NOT NULL,
    "tenantId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "resetToken" text,
    "resetTokenExpiry" timestamp(3) without time zone,
    username text
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Data for Name: Alumni; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Alumni" (id, name, measure, outcome, employer, "followUp6", consent, "graduatedAt", "tenantId", "createdAt", "updatedAt", email, employer6, "followUp0At", "followUp6At", status0, status6) FROM stdin;
cmrjjyo3700008ep99b0q0300	jad	Software development	unknown	\N	f	f	2026-07-13	cmr2y0s8200081305hu4tm0yv	2026-07-13 18:25:20.752	2026-07-13 19:00:57.667	\N	\N	\N	\N	\N	\N
cmrjjzn8a00018ep96fkqzkxo	Tara	Software development	training	l	f	f	2026-07-13	cmr2y0s8200081305hu4tm0yv	2026-07-13 18:26:06.298	2026-07-13 19:00:57.674	\N	\N	\N	\N	\N	\N
\.


--
-- Data for Name: Attendance; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: AuditRecord; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Automation; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Campaign; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Capa; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Capa" (id, date, source, category, description, owner, "dueDate", status, "tenantId", "createdAt", "updatedAt", "graduationDate", stage) FROM stdin;
cmqvdyktf0008nwr2apmxl30t	26.06.2026	Audit	prod	bestt	baker	10.07.2026	closed	demo-tenant	2026-06-26 20:30:50.595	2026-07-01 23:10:07.87	\N	onboarding
cmr33hbe60007zptrkzr00fmh	1.7.2026	Complaint	org	fff	sami	02.07.2026	open	cmr2y0s8200081305hu4tm0yv	2026-07-02 05:59:38.478	2026-07-02 22:06:21.16	\N	onboarding
\.


--
-- Data for Name: Category; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Channel; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Course; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: CourseEvaluation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CourseEvaluation" (id, "courseId", "measureId", period, "overallRating", "contentRating", "trainerRating", "participantCount", strengths, improvements, notes, "tenantId", "createdAt", "updatedAt") FROM stdin;
cmr5fcl2300012vhrkpqak7ln	cmr5agjng000239m6hu19rtf4	\N	4 April	5	3	4	4	Explaining	null	null	cmr2y0s8200081305hu4tm0yv	2026-07-03 21:07:25.462	2026-07-03 21:07:25.462
\.


--
-- Data for Name: CourseRecord; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CourseRecord" (id, "courseId", type, "recordDate", topic, trainer, hours, notes, "tenantId", "createdAt", "updatedAt") FROM stdin;
cmr145fmy0001nuq2p8itmgyg	cmqzntfxy0004s3cfm9erc8ux	TEACHING_LOG	30.6.2026	Learning	Baker	5	no	demo-tenant	2026-06-30 20:42:51.363	2026-06-30 20:42:51.363
cmr4fv4cx000f68hzgi349wsd	cmr4fukmz000968hzysj314ul	TEACHING_LOG	\N	\N	\N	\N	\N	cmr2y0s8200081305hu4tm0yv	2026-07-03 04:34:04.112	2026-07-03 04:34:04.112
\.


--
-- Data for Name: DiaryEntry; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."DiaryEntry" (id, "participantId", "entryDate", company, "position", method, status, notes, "tenantId", "createdAt", "updatedAt", "graduationDate", stage) FROM stdin;
cmr6sg6wp0003f3ift3ou8yfb	cmr6q0yp0000112niygj02jxe	4.7.2026	Sami	web	online	applied	\N	cmr2y0s8200081305hu4tm0yv	2026-07-04 20:01:54.937	2026-07-04 20:01:54.937	\N	onboarding
\.


--
-- Data for Name: Document; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: EquipmentLoan; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Evaluation; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ExternalAudit; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: LessonProgress; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Measure; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: MeasureChange; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."MeasureChange" (id, "measureId", date, reason, responsible, "tenantId", "createdAt") FROM stdin;
\.


--
-- Data for Name: MeasureModule; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."MeasureModule" (id, "measureId", title, "ueHours", status, "order", "tenantId", "createdAt", "graduationDate", stage) FROM stdin;
cmqvwv2xq00013aph2wb2efit	cmqvdwc8y0007nwr2y44x5tts	web development	128	done	0	demo-tenant	2026-06-27 05:20:00.145	\N	onboarding
\.


--
-- Data for Name: Participant; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ParticipantRecord; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: PlacementFollowUp; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: QmDoc; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Question; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Quiz; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Quiz" (id, title, description, "measureId", "passMark", "timeLimit", "tenantId", "createdAt", "updatedAt") FROM stdin;
cmrmlld8h000chagyvts0bv5q	QUIZ 2	\N	\N	50	\N	cmr2y0s8200081305hu4tm0yv	2026-07-15 21:34:17.92	2026-07-15 21:34:17.92
\.


--
-- Data for Name: QuizAttempt; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: SessionVideo; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: SupportMessage; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: SupportTicket; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Survey; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Tenant; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Trainer; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: TrainerQualification; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Alumni Alumni_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Alumni"
    ADD CONSTRAINT "Alumni_pkey" PRIMARY KEY (id);


--
-- Name: Attendance Attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Attendance"
    ADD CONSTRAINT "Attendance_pkey" PRIMARY KEY (id);


--
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY (id);


--
-- Name: AuditRecord AuditRecord_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AuditRecord"
    ADD CONSTRAINT "AuditRecord_pkey" PRIMARY KEY (id);


--
-- Name: Automation Automation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Automation"
    ADD CONSTRAINT "Automation_pkey" PRIMARY KEY (id);


--
-- Name: Campaign Campaign_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Campaign"
    ADD CONSTRAINT "Campaign_pkey" PRIMARY KEY (id);


--
-- Name: Capa Capa_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Capa"
    ADD CONSTRAINT "Capa_pkey" PRIMARY KEY (id);


--
-- Name: Category Category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Category"
    ADD CONSTRAINT "Category_pkey" PRIMARY KEY (id);


--
-- Name: Channel Channel_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Channel"
    ADD CONSTRAINT "Channel_pkey" PRIMARY KEY (id);


--
-- Name: CourseEvaluation CourseEvaluation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CourseEvaluation"
    ADD CONSTRAINT "CourseEvaluation_pkey" PRIMARY KEY (id);


--
-- Name: CourseRecord CourseRecord_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CourseRecord"
    ADD CONSTRAINT "CourseRecord_pkey" PRIMARY KEY (id);


--
-- Name: Course Course_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Course"
    ADD CONSTRAINT "Course_pkey" PRIMARY KEY (id);


--
-- Name: DiaryEntry DiaryEntry_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DiaryEntry"
    ADD CONSTRAINT "DiaryEntry_pkey" PRIMARY KEY (id);


--
-- Name: Document Document_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Document"
    ADD CONSTRAINT "Document_pkey" PRIMARY KEY (id);


--
-- Name: EquipmentLoan EquipmentLoan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EquipmentLoan"
    ADD CONSTRAINT "EquipmentLoan_pkey" PRIMARY KEY (id);


--
-- Name: Evaluation Evaluation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Evaluation"
    ADD CONSTRAINT "Evaluation_pkey" PRIMARY KEY (id);


--
-- Name: ExternalAudit ExternalAudit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ExternalAudit"
    ADD CONSTRAINT "ExternalAudit_pkey" PRIMARY KEY (id);


--
-- Name: LessonProgress LessonProgress_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."LessonProgress"
    ADD CONSTRAINT "LessonProgress_pkey" PRIMARY KEY (id);


--
-- Name: MeasureChange MeasureChange_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MeasureChange"
    ADD CONSTRAINT "MeasureChange_pkey" PRIMARY KEY (id);


--
-- Name: MeasureModule MeasureModule_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MeasureModule"
    ADD CONSTRAINT "MeasureModule_pkey" PRIMARY KEY (id);


--
-- Name: Measure Measure_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Measure"
    ADD CONSTRAINT "Measure_pkey" PRIMARY KEY (id);


--
-- Name: ParticipantRecord ParticipantRecord_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ParticipantRecord"
    ADD CONSTRAINT "ParticipantRecord_pkey" PRIMARY KEY (id);


--
-- Name: Participant Participant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Participant"
    ADD CONSTRAINT "Participant_pkey" PRIMARY KEY (id);


--
-- Name: PlacementFollowUp PlacementFollowUp_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PlacementFollowUp"
    ADD CONSTRAINT "PlacementFollowUp_pkey" PRIMARY KEY (id);


--
-- Name: QmDoc QmDoc_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."QmDoc"
    ADD CONSTRAINT "QmDoc_pkey" PRIMARY KEY (id);


--
-- Name: Question Question_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Question"
    ADD CONSTRAINT "Question_pkey" PRIMARY KEY (id);


--
-- Name: QuizAttempt QuizAttempt_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."QuizAttempt"
    ADD CONSTRAINT "QuizAttempt_pkey" PRIMARY KEY (id);


--
-- Name: Quiz Quiz_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Quiz"
    ADD CONSTRAINT "Quiz_pkey" PRIMARY KEY (id);


--
-- Name: SessionVideo SessionVideo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SessionVideo"
    ADD CONSTRAINT "SessionVideo_pkey" PRIMARY KEY (id);


--
-- Name: Session Session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_pkey" PRIMARY KEY (id);


--
-- Name: SupportMessage SupportMessage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SupportMessage"
    ADD CONSTRAINT "SupportMessage_pkey" PRIMARY KEY (id);


--
-- Name: SupportTicket SupportTicket_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SupportTicket"
    ADD CONSTRAINT "SupportTicket_pkey" PRIMARY KEY (id);


--
-- Name: Survey Survey_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Survey"
    ADD CONSTRAINT "Survey_pkey" PRIMARY KEY (id);


--
-- Name: Tenant Tenant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Tenant"
    ADD CONSTRAINT "Tenant_pkey" PRIMARY KEY (id);


--
-- Name: TrainerQualification TrainerQualification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TrainerQualification"
    ADD CONSTRAINT "TrainerQualification_pkey" PRIMARY KEY (id);


--
-- Name: Trainer Trainer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Trainer"
    ADD CONSTRAINT "Trainer_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Alumni_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Alumni_tenantId_idx" ON public."Alumni" USING btree ("tenantId");


--
-- Name: Attendance_participantId_sessionId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Attendance_participantId_sessionId_key" ON public."Attendance" USING btree ("participantId", "sessionId");


--
-- Name: Attendance_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Attendance_tenantId_idx" ON public."Attendance" USING btree ("tenantId");


--
-- Name: AuditLog_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditLog_tenantId_idx" ON public."AuditLog" USING btree ("tenantId");


--
-- Name: AuditRecord_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "AuditRecord_tenantId_idx" ON public."AuditRecord" USING btree ("tenantId");


--
-- Name: Automation_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Automation_tenantId_idx" ON public."Automation" USING btree ("tenantId");


--
-- Name: Automation_tenantId_key_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Automation_tenantId_key_key" ON public."Automation" USING btree ("tenantId", key);


--
-- Name: Campaign_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Campaign_tenantId_idx" ON public."Campaign" USING btree ("tenantId");


--
-- Name: Capa_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Capa_tenantId_idx" ON public."Capa" USING btree ("tenantId");


--
-- Name: Category_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Category_tenantId_idx" ON public."Category" USING btree ("tenantId");


--
-- Name: Channel_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Channel_tenantId_idx" ON public."Channel" USING btree ("tenantId");


--
-- Name: CourseEvaluation_courseId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CourseEvaluation_courseId_idx" ON public."CourseEvaluation" USING btree ("courseId");


--
-- Name: CourseEvaluation_measureId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CourseEvaluation_measureId_idx" ON public."CourseEvaluation" USING btree ("measureId");


--
-- Name: CourseEvaluation_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CourseEvaluation_tenantId_idx" ON public."CourseEvaluation" USING btree ("tenantId");


--
-- Name: CourseRecord_courseId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CourseRecord_courseId_idx" ON public."CourseRecord" USING btree ("courseId");


--
-- Name: CourseRecord_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "CourseRecord_tenantId_idx" ON public."CourseRecord" USING btree ("tenantId");


--
-- Name: Course_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Course_tenantId_idx" ON public."Course" USING btree ("tenantId");


--
-- Name: DiaryEntry_participantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DiaryEntry_participantId_idx" ON public."DiaryEntry" USING btree ("participantId");


--
-- Name: DiaryEntry_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DiaryEntry_tenantId_idx" ON public."DiaryEntry" USING btree ("tenantId");


--
-- Name: Document_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Document_tenantId_idx" ON public."Document" USING btree ("tenantId");


--
-- Name: EquipmentLoan_participantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EquipmentLoan_participantId_idx" ON public."EquipmentLoan" USING btree ("participantId");


--
-- Name: EquipmentLoan_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "EquipmentLoan_tenantId_idx" ON public."EquipmentLoan" USING btree ("tenantId");


--
-- Name: Evaluation_courseId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Evaluation_courseId_idx" ON public."Evaluation" USING btree ("courseId");


--
-- Name: Evaluation_participantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Evaluation_participantId_idx" ON public."Evaluation" USING btree ("participantId");


--
-- Name: Evaluation_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Evaluation_tenantId_idx" ON public."Evaluation" USING btree ("tenantId");


--
-- Name: ExternalAudit_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ExternalAudit_tenantId_idx" ON public."ExternalAudit" USING btree ("tenantId");


--
-- Name: LessonProgress_participantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "LessonProgress_participantId_idx" ON public."LessonProgress" USING btree ("participantId");


--
-- Name: LessonProgress_participantId_sessionId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "LessonProgress_participantId_sessionId_key" ON public."LessonProgress" USING btree ("participantId", "sessionId");


--
-- Name: LessonProgress_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "LessonProgress_tenantId_idx" ON public."LessonProgress" USING btree ("tenantId");


--
-- Name: MeasureChange_measureId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MeasureChange_measureId_idx" ON public."MeasureChange" USING btree ("measureId");


--
-- Name: MeasureChange_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MeasureChange_tenantId_idx" ON public."MeasureChange" USING btree ("tenantId");


--
-- Name: MeasureModule_measureId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MeasureModule_measureId_idx" ON public."MeasureModule" USING btree ("measureId");


--
-- Name: MeasureModule_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "MeasureModule_tenantId_idx" ON public."MeasureModule" USING btree ("tenantId");


--
-- Name: Measure_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Measure_tenantId_idx" ON public."Measure" USING btree ("tenantId");


--
-- Name: ParticipantRecord_participantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ParticipantRecord_participantId_idx" ON public."ParticipantRecord" USING btree ("participantId");


--
-- Name: ParticipantRecord_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ParticipantRecord_tenantId_idx" ON public."ParticipantRecord" USING btree ("tenantId");


--
-- Name: Participant_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Participant_tenantId_idx" ON public."Participant" USING btree ("tenantId");


--
-- Name: PlacementFollowUp_participantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "PlacementFollowUp_participantId_idx" ON public."PlacementFollowUp" USING btree ("participantId");


--
-- Name: PlacementFollowUp_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "PlacementFollowUp_tenantId_idx" ON public."PlacementFollowUp" USING btree ("tenantId");


--
-- Name: QmDoc_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "QmDoc_tenantId_idx" ON public."QmDoc" USING btree ("tenantId");


--
-- Name: Question_quizId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Question_quizId_idx" ON public."Question" USING btree ("quizId");


--
-- Name: Question_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Question_tenantId_idx" ON public."Question" USING btree ("tenantId");


--
-- Name: QuizAttempt_participantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "QuizAttempt_participantId_idx" ON public."QuizAttempt" USING btree ("participantId");


--
-- Name: QuizAttempt_quizId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "QuizAttempt_quizId_idx" ON public."QuizAttempt" USING btree ("quizId");


--
-- Name: QuizAttempt_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "QuizAttempt_tenantId_idx" ON public."QuizAttempt" USING btree ("tenantId");


--
-- Name: Quiz_measureId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Quiz_measureId_idx" ON public."Quiz" USING btree ("measureId");


--
-- Name: Quiz_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Quiz_tenantId_idx" ON public."Quiz" USING btree ("tenantId");


--
-- Name: SessionVideo_sessionId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SessionVideo_sessionId_idx" ON public."SessionVideo" USING btree ("sessionId");


--
-- Name: SessionVideo_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SessionVideo_tenantId_idx" ON public."SessionVideo" USING btree ("tenantId");


--
-- Name: Session_courseId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Session_courseId_idx" ON public."Session" USING btree ("courseId");


--
-- Name: Session_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Session_tenantId_idx" ON public."Session" USING btree ("tenantId");


--
-- Name: SupportMessage_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SupportMessage_tenantId_idx" ON public."SupportMessage" USING btree ("tenantId");


--
-- Name: SupportMessage_ticketId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SupportMessage_ticketId_idx" ON public."SupportMessage" USING btree ("ticketId");


--
-- Name: SupportTicket_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SupportTicket_tenantId_idx" ON public."SupportTicket" USING btree ("tenantId");


--
-- Name: SupportTicket_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "SupportTicket_userId_idx" ON public."SupportTicket" USING btree ("userId");


--
-- Name: Survey_participantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Survey_participantId_idx" ON public."Survey" USING btree ("participantId");


--
-- Name: Survey_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Survey_tenantId_idx" ON public."Survey" USING btree ("tenantId");


--
-- Name: TrainerQualification_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "TrainerQualification_tenantId_idx" ON public."TrainerQualification" USING btree ("tenantId");


--
-- Name: TrainerQualification_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "TrainerQualification_userId_idx" ON public."TrainerQualification" USING btree ("userId");


--
-- Name: Trainer_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Trainer_tenantId_idx" ON public."Trainer" USING btree ("tenantId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_tenantId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "User_tenantId_idx" ON public."User" USING btree ("tenantId");


--
-- Name: User_username_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_username_key" ON public."User" USING btree (username);


--
-- Name: Attendance Attendance_participantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Attendance"
    ADD CONSTRAINT "Attendance_participantId_fkey" FOREIGN KEY ("participantId") REFERENCES public."Participant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Attendance Attendance_sessionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Attendance"
    ADD CONSTRAINT "Attendance_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES public."Session"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CourseEvaluation CourseEvaluation_courseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CourseEvaluation"
    ADD CONSTRAINT "CourseEvaluation_courseId_fkey" FOREIGN KEY ("courseId") REFERENCES public."Course"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: CourseEvaluation CourseEvaluation_measureId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CourseEvaluation"
    ADD CONSTRAINT "CourseEvaluation_measureId_fkey" FOREIGN KEY ("measureId") REFERENCES public."Measure"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: CourseRecord CourseRecord_courseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CourseRecord"
    ADD CONSTRAINT "CourseRecord_courseId_fkey" FOREIGN KEY ("courseId") REFERENCES public."Course"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Course Course_measureId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Course"
    ADD CONSTRAINT "Course_measureId_fkey" FOREIGN KEY ("measureId") REFERENCES public."Measure"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: DiaryEntry DiaryEntry_participantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DiaryEntry"
    ADD CONSTRAINT "DiaryEntry_participantId_fkey" FOREIGN KEY ("participantId") REFERENCES public."Participant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Document Document_participantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Document"
    ADD CONSTRAINT "Document_participantId_fkey" FOREIGN KEY ("participantId") REFERENCES public."Participant"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: EquipmentLoan EquipmentLoan_participantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."EquipmentLoan"
    ADD CONSTRAINT "EquipmentLoan_participantId_fkey" FOREIGN KEY ("participantId") REFERENCES public."Participant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Evaluation Evaluation_participantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Evaluation"
    ADD CONSTRAINT "Evaluation_participantId_fkey" FOREIGN KEY ("participantId") REFERENCES public."Participant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: MeasureChange MeasureChange_measureId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MeasureChange"
    ADD CONSTRAINT "MeasureChange_measureId_fkey" FOREIGN KEY ("measureId") REFERENCES public."Measure"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: MeasureModule MeasureModule_measureId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MeasureModule"
    ADD CONSTRAINT "MeasureModule_measureId_fkey" FOREIGN KEY ("measureId") REFERENCES public."Measure"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ParticipantRecord ParticipantRecord_participantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ParticipantRecord"
    ADD CONSTRAINT "ParticipantRecord_participantId_fkey" FOREIGN KEY ("participantId") REFERENCES public."Participant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Participant Participant_measureId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Participant"
    ADD CONSTRAINT "Participant_measureId_fkey" FOREIGN KEY ("measureId") REFERENCES public."Measure"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PlacementFollowUp PlacementFollowUp_participantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PlacementFollowUp"
    ADD CONSTRAINT "PlacementFollowUp_participantId_fkey" FOREIGN KEY ("participantId") REFERENCES public."Participant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Question Question_quizId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Question"
    ADD CONSTRAINT "Question_quizId_fkey" FOREIGN KEY ("quizId") REFERENCES public."Quiz"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: QuizAttempt QuizAttempt_quizId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."QuizAttempt"
    ADD CONSTRAINT "QuizAttempt_quizId_fkey" FOREIGN KEY ("quizId") REFERENCES public."Quiz"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SessionVideo SessionVideo_sessionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SessionVideo"
    ADD CONSTRAINT "SessionVideo_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES public."Session"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Session Session_courseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_courseId_fkey" FOREIGN KEY ("courseId") REFERENCES public."Course"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SupportMessage SupportMessage_ticketId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SupportMessage"
    ADD CONSTRAINT "SupportMessage_ticketId_fkey" FOREIGN KEY ("ticketId") REFERENCES public."SupportTicket"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Survey Survey_participantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Survey"
    ADD CONSTRAINT "Survey_participantId_fkey" FOREIGN KEY ("participantId") REFERENCES public."Participant"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;
GRANT USAGE ON SCHEMA public TO app_user;


--
-- Name: TABLE "Alumni"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."Alumni" TO app_user;


--
-- Name: TABLE "Attendance"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."Attendance" TO app_user;


--
-- Name: TABLE "AuditLog"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."AuditLog" TO app_user;


--
-- Name: TABLE "AuditRecord"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."AuditRecord" TO app_user;


--
-- Name: TABLE "Automation"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."Automation" TO app_user;


--
-- Name: TABLE "Campaign"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."Campaign" TO app_user;


--
-- Name: TABLE "Capa"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."Capa" TO app_user;


--
-- Name: TABLE "Category"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."Category" TO app_user;


--
-- Name: TABLE "Channel"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."Channel" TO app_user;


--
-- Name: TABLE "Course"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."Course" TO app_user;


--
-- Name: TABLE "CourseEvaluation"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."CourseEvaluation" TO app_user;


--
-- Name: TABLE "CourseRecord"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."CourseRecord" TO app_user;


--
-- Name: TABLE "DiaryEntry"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."DiaryEntry" TO app_user;


--
-- Name: TABLE "Document"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."Document" TO app_user;


--
-- Name: TABLE "EquipmentLoan"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."EquipmentLoan" TO app_user;


--
-- Name: TABLE "Evaluation"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."Evaluation" TO app_user;


--
-- Name: TABLE "ExternalAudit"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."ExternalAudit" TO app_user;


--
-- Name: TABLE "LessonProgress"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."LessonProgress" TO app_user;


--
-- Name: TABLE "Measure"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."Measure" TO app_user;


--
-- Name: TABLE "MeasureChange"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."MeasureChange" TO app_user;


--
-- Name: TABLE "MeasureModule"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."MeasureModule" TO app_user;


--
-- Name: TABLE "Participant"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."Participant" TO app_user;


--
-- Name: TABLE "ParticipantRecord"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."ParticipantRecord" TO app_user;


--
-- Name: TABLE "PlacementFollowUp"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."PlacementFollowUp" TO app_user;


--
-- Name: TABLE "QmDoc"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."QmDoc" TO app_user;


--
-- Name: TABLE "Question"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."Question" TO app_user;


--
-- Name: TABLE "Quiz"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."Quiz" TO app_user;


--
-- Name: TABLE "QuizAttempt"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."QuizAttempt" TO app_user;


--
-- Name: TABLE "Session"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."Session" TO app_user;


--
-- Name: TABLE "SessionVideo"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."SessionVideo" TO app_user;


--
-- Name: TABLE "SupportMessage"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."SupportMessage" TO app_user;


--
-- Name: TABLE "SupportTicket"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."SupportTicket" TO app_user;


--
-- Name: TABLE "Survey"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."Survey" TO app_user;


--
-- Name: TABLE "Tenant"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."Tenant" TO app_user;


--
-- Name: TABLE "Trainer"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."Trainer" TO app_user;


--
-- Name: TABLE "TrainerQualification"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."TrainerQualification" TO app_user;


--
-- Name: TABLE "User"; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public."User" TO app_user;


--
-- Name: TABLE _prisma_migrations; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,INSERT,DELETE,UPDATE ON TABLE public._prisma_migrations TO app_user;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT SELECT,USAGE ON SEQUENCES TO app_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT SELECT,INSERT,DELETE,UPDATE ON TABLES TO app_user;


--
-- PostgreSQL database dump complete
--

\unrestrict PDbB99Zu6k6LSN9yJAiqqwF2EbKXuvLtmE3rMa6NHiAc6MwxuH2GgoiegrxJ6B1

